.Main {
  transition: all 250ms ease;
  position: fixed;
  top: 25px;
  right: 25px;
  left: 25px;
  bottom: 25px;
  background-color: white;

  &.maximized {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
